<div class="col-md-12">

  <h2 class="text-center"> 收藏的電影 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 電影 </th>
        <th> 劇情大綱 </th>
        <th> 評論次數 </th>
        <th> 收藏時間 </th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(group.title, group_path(group)) %> </td>
          <td> <%= group.description %> </td>
          <td> <%= group.posts.count %> </td>
          <td> <%= group.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
